* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 2%;
  margin-left: 1%;
}

.name .pic-wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name .pic {
  width: 130px;
  height: 110px;
}

.text {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  text-shadow: 0px 0px 10px #fff;
  padding-left: 2%;
}

body {
  min-height: 100vh;
  background: #10131c;
}

.navigation {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: #212532;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  /* transition-delay: 0.8s; */
}

.navigation:hover {
  background-color: rgb(59, 90, 156);
}

.navigation.active {
  background-color: #212532;
  width: 200px;
  height: 200px;
  transition-delay: 0s;
}

.navigation span {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
  transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
  transition-delay: calc(0.1s * var(--i));
}
.navigation.active span {
  width: 120px;
  height: 120px;
  background: #333849;
  transform: translate(calc(300px * var(--x)), calc(300px * var(--y)));
}

.navigation span ion-icon {
  transition: 0.5s;
  font-size: 0em;
}

.navigation.active span ion-icon {
  font-size: 1.35em;
  color: #fff;
}
.navigation.active span:hover ion-icon {
  color: #2dfc52;
  filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52)
    drop-shadow(0 0 15px #2dfc52);
}

/* Add some basic styling for the grid */
/*
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width
    grid-gap: 20px; /* Add some gap between grid items 
}

/* Style for grid items (cells) */
/* .grid-item {
    padding: 100px 100px;
    background-color: #4c78af;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-item:hover{
    background: rgb(175, 76, 84);
}

.body-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: white;
    font-size: 20px;
    text-align: left;
}

h2{
    color: white;
    font-size: 15px;
    text-align: left;
}

h3{
    
} */
